.dot-line{
    border-right: 2px dashed skyblue ;
}
.head1{
    letter-spacing: 2px;
    margin-left: 30px;
}
.p1{
    font-size: 14px;
    margin-left: 30px;
}
.bg-info{
    color: white;
}
.p2{
    text-align: left;
}
.pad{
    padding-left: 0px;
    padding-right: 0px;
}
.mar{
    margin-left: 25px;
}
.marg{
    margin-right: 10px;
}
.img-border{
    border: 2px solid rgb(6, 6, 82);
    border-radius: 50%;
    width: 70px;
}
.size{
    font-size: 15px;
}
.p-size{
    font-size: 12px;
}
.mar-top{
    margin-top: 0px;
    margin-bottom: 0px;
}
.mar-bottom{
    margin-bottom: -5px;
}
.move{
    margin-right: 60px;
}
.s1{
    font-size: 30px;
}
.s2{
    font-size: 40px;
    width: 20px;
    height: 5px;
}
.s3{
    font-size: 13px;
}
.left-align{
    text-align: right;
}
.mb{
    margin-bottom: 0px;
    margin-top: -15px;
}
.i1{
    margin-right: 25px;
}
.line{
    line-height: 1;
}
.mb1{
    margin-bottom: 0px;
}
.p3{
    font-weight: bold;
    font-size: 19px;
}
.p4{
    font-size: 33px;
    font-weight: bold;
}
.mt{
    margin-top: -15px;
}
.text-move{
    padding-right: 100px;
    margin-top: 10px;
}
.start{
    text-align: start;
}
.d1{
    font-size: 25px;
    line-height: 1;
    margin-top: 10px;
}
.d2{
    font-size: 40px;
}
.d3{
    padding-left: 20px;
    padding-bottom: 10px;
}